.form-header{
    display: block;
    background-color: white;
    padding: 1.5rem;
    box-shadow: 0.3rem 0.2rem 0.2rem grey;

}
.form-container{
    margin-inline: auto;
    text-align: center;
    justify-content: center;
}
.product-form {
    text-align: left;
    max-width: 50rem;
    margin: 2rem auto;
    padding: 2rem;
    border: 1rem solid #ccc;
    border-radius: 1rem;
    background-color: white;

}

.input-label {
    display: block;
    margin-bottom: 0.5rem;
}

.input-field {
    width: 100%;
    padding: 0.625rem;
    margin-bottom: 0.625rem;
    border: 0.0625rem solid #ccc;
    border-radius: 0.188rem;
    font-size: 1rem;
}

.success-message {
    color: green;
    margin-top: 0.625rem;
}
