.header-elements {
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
    box-shadow: 0.125rem 0.125rem 0.313rem rgba(0, 0, 0, 0.63);
    justify-content: space-around;
    text-align: center;
    background-color: white;
    align-items: center;
}

.search-box {
    padding: 1.1rem;
    width: 30rem;
    border-radius: 1rem;
    background-color: white;
}

.product-category {
    padding: 1.1rem;
    width: 10rem;
    border-radius: 1rem;
}

a {
    background-color: black;
    text-decoration: none;
    color: white;
    padding: 1rem;
    box-shadow: 0.125rem 0.125rem 0.125rem black;
    border-radius: 0.625rem;
}

/* Add this to your CSS styles */
.clear-button {
    display: inline-block;
    position: relative;
    right: 2.5rem;
    top: 0.1rem;
    cursor: pointer;
    /*background-color: red;*/
    padding: 0.625rem;
}


